access.log
# игнорируем файл в любой директории проекта

node_modules/
# игнорируем директорию в любой директории проекта

/coverage/
# игнорируем каталог в корне рабочей директории

/db/*.sqlite3
# игнорируем все файлы с расширением sqlite3 в директории db
# при этом не игнорируется такие же файлы внутри любого вложенного каталога в db

doc/**/*.txt
# игнорируются все .txt файлы в каталоге doc/ на всех уровнях вложенности
